<!DOCTYPE html>
<html>
  <head>
    <title>FarmyCi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <base href="/">
  </head>

  <body ng-app="farmy-ci">
    <%= yield %>
  </body>
</html>
